langchain
python-dotenv
sentence_transformers
langchain-community
transformers
llama_index
llama-index-embeddings-langchain
llama-index-llms-huggingface
pypdf
llama-index-core
torch
torchvision
torchaudio
accelerate
einops
bitsandbytes
scipy
xformers
sentencepiece
